p {
  margin-top: 0;
  margin-bottom: 0!important;
}
/* Table 样式重置 */
.el-table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
}
.el-table tr {
  border-top: none;
}
.el-table table th,
.el-table table td {
  padding: 8px 12px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #e8e8e8;
  margin: 0;
}

